.ngx-option-text {
    display: block;
    line-height: 35px;
    padding: 0 15px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
        background-color: #d8d8d8;
        cursor: pointer;
    }

    .ngx-disabled &,
    .ngx-disabled &:hover {
        background-color: white;
        opacity: .38;
        cursor: default;
    }
}
