<script src="../boot.ts"></script><h1 style="margin-top: 1em;"
                                      class="page">Ngx Select</h1>


<h3>Simple select</h3>
<p>(try keyboard arrows & type first letters to search)</p>

<div class="card">
    <div class="card-block">
        <div class="form-group row">
            <div class="col-5">
                <ngx-select [(ngModel)]="selectedCountry1">
                    <ngx-select-option *ngFor="let item of countries" [value]="item">
                        {{item.name}}
                    </ngx-select-option>
                </ngx-select>
            </div>
            <div class="col-6">
                <p class="form-control-static">Code: <b>{{selectedCountry1?.code || ''}}</b></p>
                <p class="form-control-static">Country: <b>{{selectedCountry1?.name || ''}}</b></p>
            </div>
        </div>
    </div>
</div>


<h3>Select with placeholder</h3>

<div class="card">
    <div class="card-block">
        <div class="form-group row">
            <div class="col-5">
                <ngx-select placeholder="Select Country"
                            [(ngModel)]="selectedCountry2">
                    <ngx-select-option *ngFor="let item of countries" [value]="item">
                        {{item.name}}
                    </ngx-select-option>
                </ngx-select>
            </div>
            <div class="col-6">
                <p class="form-control-static">Code: <b>{{selectedCountry2?.code || ''}}</b></p>
                <p class="form-control-static">Country: <b>{{selectedCountry2?.name || ''}}</b></p>
            </div>
        </div>
    </div>
</div>


<h3>Select with deselect option</h3>

<div class="card">
    <div class="card-block">
        <div class="form-group row">
            <div class="col-5">
                <ngx-select placeholder="Select Country"
                            [(ngModel)]="selectedCountry3">
                    <ngx-select-option [value]="null">-None-</ngx-select-option>
                    <ngx-select-option *ngFor="let item of countries" [value]="item">
                        {{item.name}}
                    </ngx-select-option>
                </ngx-select>
            </div>
            <div class="col-6">
                <p class="form-control-static">Code: <b>{{selectedCountry3?.code || ''}}</b></p>
                <p class="form-control-static">Country: <b>{{selectedCountry3?.name || ''}}</b></p>
            </div>
        </div>
    </div>
</div>


<h3>Simple select, SelectionChange event</h3>
<p>(look console). Emits <code>previous</code> and <code>new</code> selected value</p>

<div class="card">
    <div class="card-block">
        <div class="form-group row">
            <div class="col-5">
                <ngx-select placeholder="Select Country"
                            (selectionChange)="onSelectionChange($event)"
                            [(ngModel)]="selectedCountry4">
                    <ngx-select-option [value]="null">-None-</ngx-select-option>
                    <ngx-select-option *ngFor="let item of countries" [value]="item">
                        {{item.name}}
                    </ngx-select-option>
                </ngx-select>
            </div>
            <div class="col-6">
                <p class="form-control-static">Code: <b>{{selectedCountry4?.code || ''}}</b></p>
                <p class="form-control-static">Country: <b>{{selectedCountry4?.name || ''}}</b></p>
            </div>
        </div>
    </div>
</div>

<h3>Simple select</h3>
<p>Change text view (Need refactoring)</p>
<p>
    <label><input type="radio" name="textTransform" value="none" [(ngModel)]="textTransform" checked> Normal</label>
    <br/>
    <label><input type="radio" name="textTransform" value="uppercase" [(ngModel)]="textTransform"> Uppercase</label>
    <br/>
    <label><input type="radio" name="textTransform" value="lowercase" [(ngModel)]="textTransform"> Lowercase</label>
    <br/>
    <label><input type="radio" name="textTransform" value="capitalize" [(ngModel)]="textTransform"> Capitalize</label>
</p>

<div class="card">
    <div class="card-block">
        <div class="form-group row">
            <div class="col-5">
                <ngx-select placeholder="Select Country"
                            [textTransform]="textTransform"
                            [(ngModel)]="selectedCountry5">
                    <ngx-select-option [value]="null">-None-</ngx-select-option>
                    <ngx-select-option *ngFor="let item of countries" [value]="item">
                        {{item.name}}
                    </ngx-select-option>
                </ngx-select>
            </div>
            <div class="col-6">
                <p class="form-control-static">Code: <b>{{selectedCountry5?.code || ''}}</b></p>
                <p class="form-control-static">Country: <b>{{selectedCountry5?.name || ''}}</b></p>
            </div>
        </div>
    </div>
</div>

<h3>Simple select</h3>
<p>Template</p>

<div class="card">
    <div class="card-block">
        <div class="form-group row">
            <div class="col-5">
                <ngx-select placeholder="Select Country"
                            [(ngModel)]="selectedCountry6">
                    <ngx-select-option [value]="null">-None-</ngx-select-option>
                    <ngx-select-option *ngFor="let item of countries" [value]="item">
                        <span>{{item.name}} ({{item.code}})</span>
                    </ngx-select-option>
                </ngx-select>
            </div>
            <div class="col-6">
                <p class="form-control-static">Code: <b>{{selectedCountry6?.code || ''}}</b></p>
                <p class="form-control-static">Country: <b>{{selectedCountry6?.name || ''}}</b></p>
            </div>
        </div>
    </div>
</div>

<h3>Simple select</h3>
<p>Template with images</p>

<div class="card">
    <div class="card-block">
        <div class="form-group row">
            <div class="col-5">
                <ngx-select placeholder="Select Country"
                            [(ngModel)]="selectedCountry7">
                    <ngx-select-template>
                        <img [src]="selectedCountry7?.flag"/> <span>{{selectedCountry7?.name}}</span>
                    </ngx-select-template>
                    <ngx-select-option [value]="null">-None-</ngx-select-option>
                    <ngx-select-option *ngFor="let item of countries" [value]="item">
                        <img [src]="item.flag"/> <span>{{item.name}}</span>
                    </ngx-select-option>
                </ngx-select>
            </div>
            <div class="col-6">
                <p class="form-control-static">Code: <b>{{selectedCountry7?.code || ''}}</b></p>
                <p class="form-control-static">Country: <b>{{selectedCountry7?.name || ''}}</b></p>
            </div>
        </div>
    </div>
</div>

<h3>Simple select</h3>
<p>Disabling</p>
<p>
    <button (click)="disabled = !disabled">Disable Select</button>
    <button (click)="optionDisabled = !optionDisabled">Disable 4th Option</button>
</p>

<div class="card">
    <div class="card-block">
        <div class="form-group row">
            <div class="col-5">
                <ngx-select placeholder="Select Country"
                            [(ngModel)]="selectedCountry8"
                            [disabled]="disabled">
                    <ngx-select-option [value]="null">-None-</ngx-select-option>
                    <ngx-select-option *ngFor="let item of countries; let i = index" [value]="item" [disabled]="i === 3 && optionDisabled">
                        {{item.name}}
                    </ngx-select-option>
                </ngx-select>
            </div>
            <div class="col-6">
                <p class="form-control-static">Code: <b>{{selectedCountry8?.code || ''}}</b></p>
                <p class="form-control-static">Country: <b>{{selectedCountry8?.name || ''}}</b></p>
            </div>
        </div>
    </div>
</div>


<h3>Simple select</h3>
<p>Other controls to change select behaviour</p>
<p>
    <button (click)="ngxSelectForControls.toggle()">Toggle</button>
    <button (click)="ngxSelectForControls.focus()">Focus</button>
    <br/>
    <label><input type="checkbox" [(ngModel)]="closeOnOutsideClick"> Close on outside click</label>
    <br/>
    <label><input type="checkbox" [(ngModel)]="showArrowButton"> Show arrow button</label>
    <br/>
    <label><input type="checkbox" [(ngModel)]="rotateArrowButton"> Rotate arrow on open/close</label>
    <br/>
    <label><input type="input" [(ngModel)]="width"> Select Width</label>
    <br/>
    <label><input type="input" [(ngModel)]="height"> Dropdown height</label>
</p>

<div class="card">
    <div class="card-block">
        <div class="form-group row">
            <div class="col-5">
                <ngx-select #ngxSelectForControls
                            placeholder="Select Country"
                            [showArrow]="showArrowButton"
                            [rotateArrow]="rotateArrowButton"
                            [closeOutsideClick]="closeOnOutsideClick"
                            [width]="width"
                            [maxHeight]="height"
                            [(ngModel)]="selectedCountry99">
                    <ngx-select-option [value]="null">-None-</ngx-select-option>
                    <ngx-select-option *ngFor="let item of countries" [value]="item">
                        {{item.name}}
                    </ngx-select-option>
                </ngx-select>
            </div>
            <div class="col-6">
                <p class="form-control-static">Code: <b>{{selectedCountry99?.code || ''}}</b></p>
                <p class="form-control-static">Country: <b>{{selectedCountry99?.name || ''}}</b></p>
            </div>
        </div>
    </div>
</div>

<p style="margin-bottom: 10em;"></p>
