<div cdk-overlay-origin
     class="ngx-select-trigger"
     (click)="toggle()"
     [style.width]="width"
     #origin="cdkOverlayOrigin">
    <div class="ngx-select-trigger-value-wrapper" [ngSwitch]="isEmpty">
        <span class="ngx-select-trigger-placeholder" *ngSwitchCase="true">{{placeholder || '\u00A0'}}</span>
        <span class="ngx-select-trigger-value"
              [style.text-transform]="textTransform"
              *ngSwitchCase="false"
              [ngSwitch]="!!ngxSelectTemplate">
             <span *ngSwitchDefault>{{displayValue}}</span>
            <ng-content select="ngx-select-template" *ngSwitchCase="true"></ng-content>
        </span>
    </div>

    <div *ngIf="showArrow" class="ngx-select-icon-wrapper">
        <div class="ngx-select-icon" [ngClass]="[rotateIcon()]"></div>
    </div>
</div>

<ng-template cdk-connected-overlay
             hasBackdrop
             backdropClass="cdk-overlay-transparent-backdrop"
             [origin]="origin"
             [open]="isPanelOpen"
             (backdropClick)="closeOutsideClick && close()"
             (detach)="close()"
             (attach)="onOverlayAttached()">
    <div #selectPanel
         class="ngx-select-panel">
        <div #selectContent
             class="ngx-select-panel-content"
             [style.text-transform]="textTransform">
            <ng-content></ng-content>
        </div>
    </div>
</ng-template>